fieldset{
	margin-top: 9px;
	background-color: white;
	width: 80%;
	margin-left: 10%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}




legend {
  background-color: #3e5f8a;
  color: #fff;
  padding: 3px 6px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .6px;
  margin: 0;

}

fieldset>div{
		padding: 10px;
		display: flex;
}

fieldset>div>input {
 /* 	position: relative;
	top: 0px; 
	left: 10px;*/
	margin-right: 10px;
}

fieldset>div>button{
	border: 1px solid transparent;
	margin-left: auto;
	background-color: transparent;
 	color:steelblue;

}

fieldset>div>label {
  text-transform: capitalize;
  user-select: none;
  margin-right: 12px;
}

fieldset>div{
	display: flex;
   	align-items: center;
}

fieldset>div:nth-child(even){
	background-color: rgba(10,30,80, .2);
}

fieldset>div>button:nth-child(odd){
/*	background-color: white;*/
}

modal,modalImg{
	width: 100%;
	background-color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	z-index: 99;
	border: 30px solid rgba(0,0,0, 1);
	text-align: center;
}

modalImg>img{
	margin-top: 10px;
	width: 30%;
	margin-left: 33%;
}

@media (max-width:800px){
	fieldset{
		width: 92%;
		margin-left: 4%;
	}
	modal{
		border: 20px solid rgba(0,0,0, .9);
	}
	modalImg>img{
		width: 100%;
		margin-left: 0;
	}
}


.inModal{
/*Box-shadow: -10vh -10vh red,  10vh 30vh black, 10vh -10vh green, -10vh 20vh yellow; */
 	position: fixed;
  	top:0;
  	left: 0;
  	transition: .8s;
}

.outModal {
	position: fixed;
	top:0;
    left: -150%;
    transition: .8s;
}


.inModalImg{
/*Box-shadow: -10vh -10vh red,  10vh 30vh black, 10vh -10vh green, -10vh 20vh yellow; */
 	position: absolute;
  	top:0;
  	left: 0;
  	transition: .8s;
}

.outModalImg {
	position: fixed;
	top:0;
    left: -150%;
    transition: .8s;
}

.btnCerrarModal{
/*   margin-top: auto;*/
   background-color: rgba(250, 128, 114, .2);
   color: darkred;
   border-radius: 0;
   text-align: right;
   font-size: 12px;
}


.detallesContent{
	padding: 4px;
	text-align: center;
	margin: 4%;
	text-transform: capitalize;
	font-size: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.Agendar{
		text-align: center;
		margin: 40px 0;
}
.button{
    padding: 6px;
    border-radius: 6px;
    border:none;
    margin-right: 4px;
/*    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.08) 0px 0px 0px 1px;*/
/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/

box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
/*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
    background-image: linear-gradient(#fff, #c0cefa);
    min-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #222;
}

fieldset>div>button{
	text-transform: capitalize;
	font-family: serif;
	font-style: oblique;
}


