fieldset{
	border: 1px solid gray; 
	background-color: white;
	width: 80%;
	margin-left: 10%;
}


legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  text-align: center;
  text-transform: uppercase;
}

fieldset>div{
		padding: 10px;
		display: flex;
}

fieldset>div>input {
 /* 	position: relative;
	top: 0px; 
	left: 10px;*/
	margin-right: 10px;
}

fieldset>div>button{
	border: 1px solid transparent;
	margin-left: auto;
background-color: transparent;
 color:steelblue;
}

fieldset>div>label {
  text-transform: capitalize;
   display: flex;
   align-items: center;
}

fieldset>div{

}

fieldset>div:nth-child(even){
	background-color: rgba(0,0,0, .2);
}

fieldset>div>button:nth-child(odd){
	background-color: white;
}

modal{
	width: 100%;
	background-color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 10vh solid rgba(0,0,0, .5);
}

@media (max-width:900px){
	modal{
		border: 2vh solid rgba(0,0,0, .5);
		border-bottom: 10vh solid rgba(0,0,0, .5);
	}
}


.inModal{
/*Box-shadow: -10vh -10vh red,  10vh 30vh black, 10vh -10vh green, -10vh 20vh yellow; */
 	position: fixed;
  	top:0;
  	left: 0;
  	transition: .8s;
}

.outModal {
	position: fixed;
	top:0;
    left: -150%;
    transition: .8s;
}

.btnCerrarModal{
   margin-top: auto;
   background-color: salmon;
   color: darkred;
}


.detallesContent{
	border: 2px solid red;
	text-align: center;
	margin: 4%;
	text-transform: capitalize;
}