fieldset{
	border: 1px solid gray; 
	background-color: white;
	width: 92%;
	margin-left: 4%;
}


legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  text-align: center;
  text-transform: uppercase;
}

fieldset>div{
		padding: 10px;
		display: flex;
}

fieldset>div>input {
 /* 	position: relative;
	top: 0px; 
	left: 10px;*/
	margin-right: 10px;
}

fieldset>div>button{
	border: 1px solid transparent;
	margin-left: auto;
	background-color: transparent;
 	color:steelblue;

}

fieldset>div>label {
  text-transform: capitalize;
  user-select: none;
  margin-right: 12px;
}

fieldset>div{
	display: flex;
   	align-items: center;
}

fieldset>div:nth-child(even){
	background-color: rgba(0,0,0, .2);
}

fieldset>div>button:nth-child(odd){
/*	background-color: white;*/
}

modal,modalImg{
	width: 100%;
	background-color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	z-index: 99;
	border: 30px solid rgba(0,0,0, .5);
	text-align: center;
}

modalImg>img{
	margin-top: 10px;
	width: 34%;
	margin-left: 33%;
}

@media (max-width:600px){
	modal{
		border: 20px solid rgba(0,0,0, .5);
	}
	modalImg>img{
		width: 100%;
		margin-left: 0;
	}
}


.inModal{
/*Box-shadow: -10vh -10vh red,  10vh 30vh black, 10vh -10vh green, -10vh 20vh yellow; */
 	position: fixed;
  	top:0;
  	left: 0;
  	transition: .8s;
}

.outModal {
	position: fixed;
	top:0;
    left: -150%;
    transition: .8s;
}

.btnCerrarModal{
   margin-top: auto;
   background-color: salmon;
   color: darkred;
   border-radius: 0;
}


.detallesContent{
	border: 2px solid red;
	text-align: center;
	margin: 4%;
	text-transform: capitalize;
}